*, html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  max-width: 992px;
  padding: 0 25px;
}

/* Header */

.exper-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.check-in {
  position: absolute;
  width: 100%;
  max-width: 657px; 
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}

.check-in > .title-exper-header {
  width: 70%;
  color: #FFF;
}

.check-in > .title-exper-header > p:nth-child(1) {
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 15px;
}

.check-in > .title-exper-header > p:nth-child(2) {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.check-in > .icon-pr {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 30%;
  color: #FFF;
}

.check-in > .icon-pr > .list-icon {
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  padding: 0 10px;
}

.check-in .box-check-in {
  display: flex;
  width: 100%;
  height: 138px;
  margin-top: 33px;
  background-color: rgba(248, 248, 248, .5);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.check-in .box-check-in .form-check-in{ 
  padding: 20px;
  width: 73.98%;
}

.check-in .box-check-in .form-check-in .row5 {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.check-in .box-check-in .form-check-in .row5 .list-input-3{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.check-in .box-check-in .form-check-in .row5 .list-input-3 .form-select { 
  padding: 0 5px;
}

.check-in .box-check-in .form-check-in .row5 .list-input-3 .form-select select{ 
  width: 100%;
  height: 45px;
  font-size: 15px;
}

.check-in .box-check-in .book-now{ 
  width: 26.02%;
  height: 100%;
}

.check-in .box-check-in .book-now .btn-book{ 
  background-color: #89C966;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 19px;
  font-weight: bold;
  border: #89C966 1px solid;
  border-top-right-radius: 3px;
}

.owl-carousel {
  .item {
    width: 100%;
    height: 100vh !important;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 1280px) {
  .check-in {
    max-width: 460px;
  }

  .check-in > .title-exper-header {
    width: 60%;
    color: #FFF;
  }
  
  .check-in > .title-exper-header > p:nth-child(1) {
    font-size: 27px;
  }
  
  .check-in > .title-exper-header > p:nth-child(2) {
    font-size: 16px;
  }
  
  .check-in > .icon-pr > .list-icon {
    text-align: center;
    font-size: 7px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 7px;
  }
  
  .check-in > .icon-pr > .list-icon img{
    height: 30px;
    padding-bottom: 5px;
  }

  .check-in .box-check-in {
    height: 92px;
    margin-top: 11px;
  }

  .check-in .box-check-in .form-check-in{ 
    padding: 7px;
    width: 78.52%;
  }

  .check-in .box-check-in .form-check-in .row5 .list-input-3 .form-select select{ 
    height: 35px;
    font-size: 12px;
  }

  .check-in .box-check-in .book-now{ 
    width: 21.48%;
    height: 100%;
  }

  .check-in .box-check-in .book-now .btn-book{
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) { 
  .check-in > .title-exper-header {
    width: 100%;
    text-align: left;
  }
  
  .check-in > .title-exper-header > p:nth-child(2) {
    justify-content: left;
  }
  
  .check-in > .icon-pr {
    display: none;
  }

  .check-in .box-check-in { 
    flex-wrap: wrap;
  }

  .check-in .box-check-in .form-check-in{
    width: 100%;
  }

  .check-in .box-check-in .book-now{ 
    margin: auto;
    width: 90%;
    height: 35px;
  }
}

/* Navbar */

.exper-navbar {
  display: flex;
  width: 100%;
  height: 166px;
  justify-content: center;
  transition: all .3s;
}

.exper-navbar .logo {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 11;
}

.exper-navbar .logo img{
  width: 132px;
  transition: all .3s;
}

.exper-navbar .list-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 800px;
  padding: 0;
}

.exper-navbar .list-menu li{
  text-align: center;
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}

.exper-navbar .list-menu li a{
  text-decoration: black;
  color: black;
}

.exper-navbar .list-menu li a img{
  margin-bottom: 10px;
}

.exper-navbar .burger {
  cursor: pointer;
  margin-right: 60px;
  display: none;
}

.exper-navbar .burger div{
  width: 35px;
  height: 3px;
  background-color: #000;
  margin-top: 6px;
  margin-bottom: 6px;
}

.exper-navbar .burger .line1{
  transition: all .5s;
}

.exper-navbar .burger .line2{
  transition: all .2s;
}

.exper-navbar .burger .line3{
  transition: all .5s;
}

.exper-navbar .burger.toggle .line1{
  transform: rotate(-45deg) translate(-6px, 6px);
}

.exper-navbar .burger.toggle .line2{
  opacity: 0;
}

.exper-navbar .burger.toggle .line3{
  transform: rotate(45deg) translate(-7px, -6px);
}

.exper-navbar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  height: 75px;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.exper-navbar.sticky .logo{
  top: 16px;
  left: 16px;
}

.exper-navbar.sticky .logo img{
  width: 115px;
}

.exper-navbar.sticky .list-menu {
  position: absolute;
  top: 74px;
  right: 0;
  width: 267px;
  background-color: #FFF;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 25px;
  transform: translateX(100%);
}

.exper-navbar.sticky .list-menu.active {
  transform: translateX(0%);
}

.exper-navbar.sticky .list-menu li{
  text-align: left;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

.exper-navbar.sticky .list-menu li img{
  display: none;
}

.exper-navbar.sticky .burger {
  display: block;
}

@media only screen and (max-width: 1280px) {
  .exper-navbar .list-menu li{
    font-size: 11px;
  }

  .exper-navbar .list-menu li img{
    height: 25px;
  }
}

@media only screen and (max-width: 480px) { 
  .exper-navbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .exper-navbar .list-menu {
    flex-wrap: wrap;
  }

  .exper-navbar .list-menu li{
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }

  .exper-navbar.sticky {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* IG */

.exper-ig {
  width: 100%;
}

.exper-ig .list-ig {
  display: flex;
  width: 100%;
  margin-left: -2px;
}

.exper-ig .list-ig .large {
  width: 25%;
}

.exper-ig .list-ig .small {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.exper-ig .list-ig .large .box-img-ig{
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.exper-ig .list-ig .small .box-img-ig{
  position: relative;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.img-ig{
  max-width: 100%;
  padding: 2px;
}

.img-ig .ig{
  position: relative;
  width: 100%;
  background-position: top;
  background-size: cover;
}

.img-ig .ig img{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.exper-ig .list-ig .large .box-img-ig .img-ig .ig:after, .exper-ig .list-ig .small .box-img-ig .img-ig .ig:after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media only screen and (max-width: 1280px) {
  .exper-ig .list-ig .large {
    width: 33.33%;
  }

  .exper-ig .list-ig .large:nth-last-child(1) {
    display: none;
  }

  .exper-ig .list-ig .small {
    width: 66.66%;
  }
}

/* BANNER */

.exp-banner {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 70px;

  &.hide {
    display: none;
  }
}

.exp-banner img{
  max-width: 728px;
  width: 100%;
}




/* WEB TRAVAL */

.exp-traval {
  display: flex;
  justify-content: center;
  background-color: #F4F4F4;
  padding: 60px 0;
}

.exp-traval ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.exp-traval ul li{
  padding: 0 40px;
  text-align: center;
}

.exp-traval ul li a{
  text-decoration: none;
}

.exp-traval ul li a p{
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  margin-top: 18px;
}

.exp-traval ul li .late{
  color: #FFF;
  background-color: #89C966;
  border: 1px solid #89C966;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  margin-top: 30px;
}

.exp-traval ul li .star{
  margin-top: 20px;
}

@media only screen and (max-width: 1280px) {
  .exp-traval ul li{
    padding: 0 30px;
    text-align: center;
  }
  .exp-traval ul li a img{
    width: 71.91px;
  }

  .exp-traval ul li a p{
    font-size: 10px;
  }

  .exp-traval ul li .late{
    font-size: 12px;
    padding: 6px 8px;
    margin-top: 23px;
  }

  .exp-traval ul li .star{
    margin-top: 13px;
  }
}
@media only screen and (max-width: 480px) {
  .exp-traval ul{
    display: flex;
    flex-wrap: wrap;
  }

  .exp-traval ul li{
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
    padding-bottom: 40px;
  }
}

/* Affiliations */

.exp-affiliations .title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
}

.exp-affiliations .experience-logo .list-logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-left: -25px; 
  margin-right: -25px; 
  margin-bottom: 70px;
}

.exp-affiliations .experience-logo .list-logo li{
  padding-left: 25px;
  padding-right: 25px;
}

.exp-affiliations .map-detail .address{
  font-size: 30px;
  margin-bottom: 25px;
}

.exp-affiliations .map-detail .map{
  width: 100%;
  height: 494px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1280px) {
  .exp-affiliations .title{
    font-size: 23px;
    padding-bottom: 25px;
  }

  .exp-affiliations .experience-logo .list-logo {
    margin-left: -18px; 
    margin-right: -18px; 
  }

  .exp-affiliations .experience-logo .list-logo li{
    padding-left: 18px;
    padding-right: 18px;
  }
  
  .exp-affiliations .map-detail .address{
    font-size: 20px;
    margin-bottom: 18px;
  }
  
  .exp-affiliations .map-detail .map{
    height: 423px;
    margin-bottom: 26px;
  }
}

/* Nearby */

.exp-nearby{
  background-color: #EFEFEF;
  padding-top: 80px;
  padding-bottom: 60px;
}

.exp-nearby .title{
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 30px;
}

.exp-nearby .nearby-hotels .row-hotels{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-left: -10px;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels{
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels{
  position: relative;
  max-width: 100%;
  border: 1px solid #BEBEBE;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .img-hotels{
  padding-bottom: 83.33%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .ways{
  position: absolute;
  top: 20px;
  right: 25px;
  padding: 5px 10px;
  color: #FFF;
  font-size: 10px;
  background-color: rgba(39, 39, 39, .9);
  border-radius: 11px;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .name-hotels{
  position: relative;
  padding: 18px 25px;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .name-hotels .btn-book{
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: #89C966;
  border: 0px;
  border-radius: 27px;
  padding: 11px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .name-hotels .name{
  font-size: 18px;
  font-weight: bold;
  height: 80px;
}

.exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .name-hotels .lating{
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  color: #BEBEBE;
}

@media only screen and (max-width: 1280px) {
  .exp-nearby{
    padding-top: 66px;
    padding-bottom: 100px;
  }
  
  .exp-nearby .title{
    font-size: 23px;
  }
  
  .exp-nearby .nearby-hotels .row-hotels .list-hotels .box-hotels .detail-hotels .name-hotels .btn-book{
    background-color: #0058FF;
  }
}

@media only screen and (max-width: 768px) {
  .exp-nearby .nearby-hotels .row-hotels .list-hotels{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .exp-nearby .nearby-hotels .row-hotels .list-hotels{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*  Offers */

.exp-offers {
  padding-top: 76px;
}

.exp-offers .title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

.exp-offers .slide{
  padding-bottom: 120px;
}

.exp-offers .slide ul{
  list-style: none;
  padding: 40px 0;
}

.exp-offers .slide ul li{
  display: none;
}

.exp-offers .slide ul img{
  width: 100%;
}

.exp-offers .slide ul li.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.exp-offers .slide .next-previous{
  display: flex;
  align-items: center;
}

.exp-offers .slide .next-previous .btn-next-previous{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;

}

.exp-offers .slide .next-previous .btn-next-previous button{
  background-color: transparent;
  border: 0px;
}

.exp-offers .slide .next-previous span{
  width: 100%;
  height: 1px;
  background-color: #BEBEBE;
}

.exp-offers .experience {
  padding-top: 30px;
  padding-bottom: 107px;
}

.exp-offers .experience .row-experience{
  display: flex;
  flex-wrap: wrap;
  margin-left: -13px;
  margin-right: -13px;
}

.exp-offers .experience .row-experience .list-ways{
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.exp-offers .experience .row-experience .list-ways .box-ways{
  max-width: 100%;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 50px;
}

.exp-offers .experience .row-experience .list-ways .box-ways .detail-ways .img-ways{
  width: 100%;
  padding-bottom: 74.5%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp-offers .experience .row-experience .list-ways .box-ways .detail-ways .name-ways{
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.exp-offers .stories {
  padding-top: 30px;
  padding-bottom: 107px;
}

.exp-offers .stories .row-stories{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-left: -7px;
  margin-right: -7px;
}

.exp-offers .stories .list-stories{
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 10px;
}

.exp-offers .stories .list-stories .box-stories .detail-stories {
  position: relative;
  padding-left: 7px;
  padding-right: 7px;
}

.exp-offers .stories .list-stories .box-stories .detail-stories .img-stories{
  position: relative;
  width: 100%;
  padding-bottom: 45.5%;
  background-size: cover;
  overflow: hidden;
}

.exp-offers .stories .list-stories .box-stories .detail-stories .img-stories .img-blur{
  overflow: hidden;
  position: absolute;
  filter: blur(3px);
  width: 100%;
  padding-bottom: 45.5%;
  background-size: cover;
}

.exp-offers .stories .list-stories .box-stories .detail-stories .text-stories{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(103,103,103,.5);
}

.exp-offers .stories .list-stories .box-stories .detail-stories .text-stories p{
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.exp-offers .stories .list-stories .box-stories .detail-stories .text-stories p span{
  font-size: 12px;
  font-weight: normal;
}

.exp-offers .div-btn{
  padding-top: 40px;
  text-align: center;
}

.exp-offers .div-btn .btn-see-all{
  padding: 10px 38px;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 35px;
  text-decoration: none;
}

@media only screen and (max-width: 1280px) {
  .exp-offers .title {
    font-size: 23px;
  }

  .exp-offers .div-btn{
    padding-top: 30px;
  }
  
  .exp-offers .div-btn .btn-see-all{
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .exp-offers .experience .row-experience .list-ways{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .exp-offers .experience .row-experience .list-ways{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .exp-offers .stories .list-stories{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}


/* About */

.exp-about {
  display: flex;
  padding-top: 40px;
  padding-bottom: 100px;
}

.exp-about .map-about{
  width: 35.41%;
}

.exp-about .about{
  width: 64.59%;
  padding-left: 7.33%;
  padding-right: 20%;
}

.exp-about .about .title{
  font-size: 30px;
  font-weight: bold;
}

.exp-about .about .text-about p{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 25px;
  color: #6E6E6E;
}

@media only screen and (max-width: 1280px) { 
  .exp-about {
    display: flex;
    padding-left:13.20%;
    padding-right:13.20%;
    padding-bottom: 100px;
  }

  .exp-about .about{
    width: 64.59%;
    padding-left: 7.33%;
    padding-right: 0;
  }

  .exp-about .about .title{
    font-size: 23px;
    font-weight: bold;
  }

  .exp-about .about .text-about p{
    font-size: 15px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .exp-about {
    flex-wrap: wrap;

  }
  .exp-about .map-about{
    width: 100%;
  }
  
  .exp-about .about{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Contact Us */

.exp-contact {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.exp-contact .list-contact{
  display: flex;
}

.exp-contact .list-contact li{
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
}

.exp-contact .list-contact li .post-contact{
  font-size: 20px;
  color: #707070;
  padding: 5px 17px;

  a {
    text-decoration: none;
    color:#707070;
  }
}

@media only screen and (max-width: 1280px) { 
  .exp-contact .list-contact li{
    padding-left: 15px;
    padding-right: 15px;
  }

  .exp-contact .list-contact li img{
    height: 18px;
  }

  .exp-contact .list-contact li .post-contact{
    font-size: 12px;
    color: #707070;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .exp-contact .list-contact{
    flex-wrap: wrap;
    justify-content: center;
  }

  .exp-contact .list-contact li{
    width: 33.33%;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .exp-contact .list-contact li{
    justify-content: center;
    width: 100%;
    padding-bottom: 15px;
  }
}

/* Featured */

.exp-featured .title{
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 46px;
}

.exp-featured .img-featured .row-featured{
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.exp-featured .img-featured .row-featured .list-featured{
  -ms-flex: 0 0 16.66%;
  flex: 0 0 16.66%;
  max-width: 16.66%;
}

.exp-featured .img-featured .row-featured .list-featured .box-featured{
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 1280px) { 
  .exp-featured .title{
    font-size: 23px;
  }

  .exp-featured .img-featured .row-featured{
    margin-left: -15px;
    margin-right: -15px;
  }

  .exp-featured .img-featured .row-featured .list-featured .box-featured{
    padding-left: 15px;
    padding-right: 15px;
  }

  .exp-featured .img-featured .row-featured .list-featured .box-featured img{
    width: 72.14px;
  }
}

@media only screen and (max-width: 480px) { 
  .exp-featured .img-featured .row-featured .list-featured{
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* Footer */

.exp-footer {
  padding-top: 67px;
  padding-bottom: 32px;
}

.exp-footer .detail-footer{
  display: flex;
  justify-content: space-between;
}

.exp-footer .detail-footer .reserved, .exp-footer .detail-footer .footer-link{
  font-size: 12px;
}

.exp-footer .detail-footer .footer-link .links{
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}

.exp-footer .detail-footer .footer-link .links li a{
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: #000;
}